.lightBlue{
    background:rgba(0,91,124,.2);
}
.darkBlue{
    background:rgba(0,81,114,.4);
}
.tan{
    background: rgba(223,219,212,1.0);
}


.colSide{
    border-radius: 5px;
    background: rgba(223,219,212,1.0);
    height: 85%
}

.colBox{
    border-radius: 5px;
    background: rgba(223,219,212,1.0);
}

.recommendationBox{
    height: 80%;
    width: 80%;
    border-radius: 5px;
    background:rgba(0,91,124,.2);
}

.colBoxMap{
    border-radius: 5px;

}

.imageBorder{
    border-radius: 5px;
}
.center {
    margin: auto;
    height: 50%;
    border: 3px solid green;
    padding: 10px;
}

.topRow{
    height:10%;
    background:rgba(0,81,114,.4);
}
.pageBackground{
   background:rgba(0,91,124,.2);
}

.horizontalLine{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.columnHeight{
    height: 85%;
}


.vertical-align {
    display: flex;
    align-items: center;
}

.productRowHeight
{
    height: 93.5%;
}

.slick-slide {
    height:200px;
}

.slick-slide img {
    height:200px;
}
.slick-list.draggable{
    height: 80%;
}


.mynetwork {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

.sp-image{
    width:90%;
    height:90%;
}





body{
    margin-top: 100px;
    width:100%;
    height:100%;
}
.carousel-inner,.carousel,.carousel-item,.container,.fill {
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}


/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;
    
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:90%; left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-indicators li{
    display:block; margin-bottom:5px; border:1px solid #00a199; 
    
}
.carousel-indicators li.active{
    margin-bottom:5px; background:#00a199;
    
}




