.searchCol{
    background: blue;
}

.searchImg{
    background-image: url('../images/searchLogo.jpg');
    width: 34px;
    height: 34px;
}
.rcorners0 {
    border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.rcorners {
    border-radius: 25px;
    border: 2px solid black;
    opacity: 0.5;
   /* padding: 20px;
   width: 200px;
    //height: 150px;*/
}/*
.rcorners3 {
    border-radius: 25px;
    background: url(paper.gif);
    background-position: left top;
    background-repeat: repeat;
    padding: 20px;
    width: 200px;
    height: 150px;
}*/