/* colors */
.blueColor{
    background: blue;
}
.redColor{
    background: red;
}

.greenColor{
    background: green;
}

.pinkColor{
    background: deeppink;
}

.orangeColor{
    background: orange;
}

.yellowColor{
    background: yellow;
}

.lightBlueColor{
    background: #bee5eb;
}

.greyColor{
    background: rgba(223,219,212,1.0);
}

.darkBlue{
    background:rgba(0,81,114,.4);
}
.pageBackground{
   background:rgba(0,91,124,.2);
}

/* Border curves */
.imageBorder{
    border-radius: 5px;
}

/* margins */
.marginBasic {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
     border-radius: 5px;
     border-radius: 5px;
}

.marginLeftEnd {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    border-radius: 5px;
}

.marginRightEnd {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    border-radius: 5px;
}

.marginBox {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    border-radius: 5px;
}


.marginTitle {
    margin-right: 10px !important;
    margin-left: 10px !important;
     border-radius: 5px;
}

.marginSearchBar {
    margin-top: 10px !important;
    border-radius: 5px;
}
.marginSearchTop {
    margin-top: 25px !important;
}

.marginSearchTopL {
    margin-top: 10px !important;
    margin-right: 10px !important;
}

.marginSearchTopR {
    margin-top: 10px !important;
    margin-left: 10px !important;
}
/* Font Size */
.titleText {
    color: whitesmoke;
    font-family: custom1;
    font-size: 10vmin;
    text-align: center;
    text-shadow:
    -1px -1px 0 darkgrey,
    1px -1px 0 darkgrey,
    -1px 1px 0 darkgrey,
    1px 1px 0 darkgrey;

}

.titleSubText {
    font-size: 20px;
    text-align: center;
}

.heightBox {
    height: 60%;
}

.searchImg{
    background-image: url('../images/searchLogo.jpg');
    width: 34px;
    height: 34px;
}

@font-face {
font-family: "custom1";
src: url("../fonts/BenguiatGothicStd-HeavyObl.otf");
}

#logo{
	max-width: 100px;
    max-height: 100px;
}

.tableRowHeight{
   height: 14vmax;
}

.imgFront {
  opacity: 0.9;
}

.imgFront:hover {
  opacity: 1;
}

.cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background: #000;
    z-index:9999;
}

.blurr1 {
  padding: 5px;
  box-shadow: 2px 2px 10px cornflowerblue;
}

.blurr2 {
  padding: 0px;
  box-shadow: 1px 1px 10px white;
}

.bottomRounded{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.subText {
    color: whitesmoke;
    font-family: custom1;
    font-size: 3vmin;
    text-shadow:
    -1px -1px 0 darkgrey,
    1px -1px 0 darkgrey,
    -1px 1px 0 darkgrey,
    1px 1px 0 darkgrey;

}