.lightBlue{
    background:rgba(0,91,124,.2);
}
.darkBlue{
    background:rgba(0,81,114,.4);
}
.tan{
    background: rgba(223,219,212,1.0);
}


.colSide{
    background: rgba(223,219,212,1.0);
}

.colBox{
    border-radius: 5px;
    background: rgba(223,219,212,1.0);
}

.recommendationBox{
    background:rgba(0,91,124,.2);
}

.colBoxMap{
    border-radius: 5px;

}

.imageBorder{
    border-radius: 5px;
}
.center {
    margin: auto;
    border: 2px solid grey;
}

.topRow{
    height:10%;
    background:rgba(0,81,114,.4);
}
.pageBackground{
   background:rgba(0,91,124,.2);
}

.horizontalLine{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.columnHeight{
    height: 85%;
}


.vertical-align {
    display: flex;
    align-items: center;
}

.productRowHeight
{
    height: 93.5%;
}

.slick-slide {
    height:200px;
}

.slick-slide img {
    height:200px;
}
.slick-list.draggable{
    height: 80%;
}


.mynetwork {
    width: 100%;
    height: 100%;
    border: 1px solid lightgray;
}

.sp-image{
    width:90%;
    height:90%;
}

.padding1 {
    padding: 1%;
}

.margin_1 {
    margin-left: 5px;
    margin-right: 5px;
}

.fill{
    width: 100%;
    height: 100%;
}