/* colors */
.blueColor{
    background: PALETURQUOISE;
}
.redColor{
    background: red;
}

.greenColor{
    background: green;
}

.snowColor{
    background: snow;
}

.lightcyanColor{
    background: AZURE;
}

.pinkColor{
    background: deeppink;
}

.orangeColor{
    background: orange;
}

.yellowColor{
    background: yellow;
}

.lightBlueColor{
    background: #bee5eb;
}

.greyColor{
    background: rgba(223,219,212,1.0);
}

.darkBlue{
    height:10%;
    background:rgba(0,81,114,.4);
}
.pageBackground{
   background:rgba(0,91,124,.2);
}

.creamColor{
   background: white;
}

/* Border curves */
.imageBorder{
    border-radius: 5px;
}

/* margins */
.marginBasic {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
     border-radius: 5px;
}

.marginLeftEnd {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    border-radius: 5px;
}

.marginRightEnd {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
    border-radius: 5px;
}

.marginBox {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    border-radius: 5px;
}


.marginTitle {
    margin-right: 1vmin !important;
    margin-left: 1vmin !important;
}

.marginSearchBar {
    margin-top: 10px !important;
    border-radius: 5px;
}
.marginSearchTop {
    margin-top: 25px !important;
}

.marginSearchTopL {
    margin-top: 10px !important;
    margin-right: 10px !important;
}

.marginSearchTopR {
    margin-top: 10px !important;
    margin-left: 10px !important;
}
/* Font Size */
.titleText {
    font-size: 3vmax;
    text-align: center;
    padding-top: 1vmin;
}

.titleSubText {
    font-size: 1vmax;
    text-align: center;
}

.heightBox {
    height: 60%;
}

.searchImg{
    background-image: url('../images/searchLogo.jpg');
    width: 34px;
    height: 34px;
}

.paddingTop{
    padding-top: 0.25%;
}

.paddingBottom{
    padding-bottom: 0.25%;
}
.marginRL{
    margin-left: 10px;
    margin-right: 10px;
}

.margin1{
    margin-top: 5px;
     margin-bottom: 5px;
}

.roundedB{
   border-bottom-right-radius: 0.5vmin;
    border-bottom-left-radius: 0.5vmin;
}
.roundedT{
   border-top-right-radius: 0.5vmin;
    border-top-left-radius: 0.5vmin;
}
/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {

    outline: none !important;
    box-shadow: none;
     -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
     background-color: RGB(238, 238, 238);
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
     -webkit-transform:scale(1.025); /* Safari and Chrome */
    -moz-transform:scale(1.025); /* Firefox */
    -ms-transform:scale(1.025); /* IE 9 */
    -o-transform:scale(1.025); /* Opera */
     transform:scale(1.025);
      outline: none !important;
    box-shadow: none;
     background-color: white;
    outline: none !important;
}

.W {
width: 100%;
}

.mT {
margin-top: 0.75%;
}


div{
    color: black;
}
.blackText{
    color: black;
    font-weight: bold;
}

.palFont{
    font-family: Calibri;
}

.flewRow{
    flex: 0 1 auto;
}

.tableRowHeight{
   height: 14vmax;
}

.carousel-inner img {
  margin: auto;
}

.rTable{
    table-layout: fixed;
width: 100%;
}

.imgFit{
    max-height: 100%;
    width: auto;
}